# Weather Data Analysis for Seattle From 1948 - 2017

In [1]:
# Global imports
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
df = pd.read_csv('./seattle_weather.csv')

In [3]:
df.head()

         DATE  PRCP  TMAX  TMIN  RAIN
0  1948-01-01  0.47    51    42  True
1  1948-01-02  0.59    45    36  True
2  1948-01-03  0.42    45    35  True
3  1948-01-04  0.31    45    34  True
4  1948-01-05  0.17    45    32  True

In [4]:
df.DATE = pd.to_datetime(df.DATE)

In [9]:
df['DAY'] = df.DATE.apply(dt.datetime.isoweekday)
df['DAY_OF_WEEK'] = df.DATE.dt.weekday_name
df['MONTH'] = df.DATE.dt.month
df['YEAR'] = df.DATE.dt.year

In [10]:
df.head()

        DATE  PRCP  TMAX  TMIN  RAIN  DAY DAY_OF_WEEK  MONTH  YEAR
0 1948-01-01  0.47    51    42  True    4    Thursday      1  1948
1 1948-01-02  0.59    45    36  True    5      Friday      1  1948
2 1948-01-03  0.42    45    35  True    6    Saturday      1  1948
3 1948-01-04  0.31    45    34  True    7      Sunday      1  1948
4 1948-01-05  0.17    45    32  True    1      Monday      1  1948

In [13]:
df.RAIN = df.RAIN.apply(lambda x: 1 if x else 0)

In [15]:
df.head()

        DATE  PRCP  TMAX  TMIN  RAIN  DAY DAY_OF_WEEK  MONTH  YEAR
0 1948-01-01  0.47    51    42     1    4    Thursday      1  1948
1 1948-01-02  0.59    45    36     1    5      Friday      1  1948
2 1948-01-03  0.42    45    35     1    6    Saturday      1  1948
3 1948-01-04  0.31    45    34     1    7      Sunday      1  1948
4 1948-01-05  0.17    45    32     1    1      Monday      1  1948

### How many in total has it rained vs not in Seattle?

In [18]:
grouped = df.RAIN.groupby(df.RAIN)

In [26]:
series = grouped.count()
series

RAIN
0    14651
1    10900
Name: RAIN, dtype: int64

In [31]:
series.loc[0] / df.RAIN.count()

0.5734022151774881

In [37]:
df[df['RAIN'].isna() == True]

Empty DataFrame
Columns: [DATE, PRCP, TMAX, TMIN, RAIN, DAY, DAY_OF_WEEK, MONTH, YEAR]
Index: []

In [40]:
df[df['PRCP'] > 0.5].RAIN.count()

1525